.landing-page {
  background-image: url("./assets/img/img1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}
